<a class="logo top-right-logo" href="/"><i class="icon-book logo-icon"></i> i'm currently reading</a>

<section class="comment">
  <div class="comment-row cf">
      <% unless @message.twitter_username.nil? %>
      <a href="http://twitter.com/<%= @message.twitter_username %>" class="avatar-link">
          <div class="avatar-wrap">
              <div class="avatar" style="background-image: url('<%= "http://api.twitter.com/1/users/profile_image?screen_name=#{@message.twitter_username}&size=bigger" %>');"></div><!--end .avatar -->
          </div><!--end .avatar-circle -->
      </a>
      <% end %>

      <div class="message-wrap arrow-left">
          <div class="message">
              <%= @message.message %>
          </div><!--end .message -->
      </div><!--end .message-wrap -->
  </div><!-- .comment-row -->

  <div class="comment-row cf">
      <div class="post-meta">
          shared <%= time_ago_in_words(@message.created_at) %> ago
      </div><!--end .post-meta -->
  </div><!--end .comment-row -->

</section><!--end .comment -->



<section class="card center-page">
    <div class="card-wrap">
        <div class="book-wrap">
            <div class="book" style="background-image: url('<%= @book.image_url %>');"></div><!--end .book-wrap -->
        </div><!--end .book-wrap -->
        <div class="book-header-container">
            <header class="book-header">
                <h1 class="book-title <%= "long-book-title" unless @book.title.length < 70 %>"><%= truncate(@book.title, :length => 90, :separator => ' ', :omission => '...') %></h1>
                <h2 class="book-author"><%= "by #{@book.author_name}" unless @book.author_name.nil? %></h2>
            </header><!--end .book-header -->
        </div><!--end .book-header-container -->
        <div class="share-bar">
            <ul class="share-links">
                <li class="share-links-item twitter-share"><a href="https://twitter.com/intent/tweet?&amp;text=<%=u "I'm currently reading " + truncate(@book.title, :length => 90, :separator => ' ', :omission => '...') + " by #{@book.author_name} #{request.protocol}#{request.host_with_port}#{request.fullpath} #nowreading" %>" target="_blank"><i class="icon-twitter"></i> Share</a></li>
                <li class="share-links-item facebook-share"><a target="_blank" href="http://www.facebook.com/sharer.php?u=<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>"><i class="icon-facebook"></i> Share</a></li>
                <li class="share-links-item amazon-share"><%= link_to "<i class=\"icon-amazon\"></i> View".html_safe, @book.amazon_url, target: "_blank" %></li>
            </ul>
        </div><!--end .share-bar -->
    </div>
    <div class="card-wrap-hidden">
        <%= image_tag(@book.image_url, :class => "card-bg") %>
    </div><!--end .card-wrap -->

    <% unless @book.description.nil? %>
    <section class="bottom-area hidden">
        <div class="bottom-content">
            <div class="bottom-content-wrap">
              <h3>Book Description</h3>
              <p><%= strip_tags(@book.description) %></p>
            </div><!--end .bottom-content-wrap -->
        </div><!--end .bottom-content -->
        <div class="bottom-info">
            <a class="toggle-bottom tab"><span class="toggle-text">View Book Description</span> <i class="icon-angle-down toggle-indicator"></i></a>
        </div><!--end .bottom-info -->
    </section><!--end .bottom-area -->
    <% end %>
</section><!--end .card -->






