<section class="card center-page">
    <div class="card-wrap">
        <div class="book-wrap">
            <div class="book" style="background-image: url('<%= @book.image_url %>');"></div><!--end .book-wrap -->
        </div><!--end .book-wrap -->
        <div class="book-header-container">
            <header class="book-header">
                <h1 class="book-title <%= "long-book-title" unless @book.title.length < 70 %>"><%= truncate(@book.title, :length => 90, :separator => ' ', :omission => '...') %></h1>
                <h2 class="book-author"><%= "by #{@book.author_name}" unless @book.author_name.nil? %></h2>
            </header><!--end .book-header -->
        </div><!--end .book-header-container -->
        <div class="share-bar">
            <ul class="share-links">
                <li class="share-links-item twitter-share"><a href="#"><i class="icon-twitter"></i> Share</a></li>
                <li class="share-links-item facebook-share"><a href="#"><i class="icon-facebook"></i> Share</a></li>
                <li class="share-links-item amazon-share"><%= link_to "<i class=\"icon-amazon\"></i> View".html_safe, @book.amazon_url %></li>
            </ul>
        </div><!--end .share-bar -->
    </div>
    <div class="card-wrap-hidden">
        <%= image_tag(@book.image_url, :class => "card-bg") %>
    </div><!--end .card-wrap -->
    <section class="bottom-area hidden">
        <div class="bottom-content">
            <div class="bottom-content-wrap">
              <h3>Book Description</h3>
              <p><%= strip_tags(@book.description) %></p>
            </div><!--end .bottom-content-wrap -->
        </div><!--end .bottom-content -->
        <div class="bottom-info">
            <a class="toggle-bottom tab"><span class="toggle-text">View Book Description</span> <i class="icon-angle-down toggle-indicator"></i></a>
        </div><!--end .bottom-info -->
    </section><!--end .bottom-area -->
</section><!--end .card -->






